<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <title>Department of Computer Studies - Login Portal</title>
</head>

<body class="login-page">

    {% if error %}
    <div class="errormensahe">
        {{ error }}
    </div>
    {% endif %}

   <header class="top-header">
        Cavite State University Imus Campus
    </header>

    <div class="login-wrapper">
        <div class="login-card">

            <img src="{{ url_for('static', filename='images/cvsulogo.png') }}" alt="Logo" class="logo">
            
            <h1>Faculty Requirements<br>Tracking System</h1>

            <form method ="POST">
                {{ form.hidden_tag() }}

                {% for message in form.username.errors %}
                <div>{{ message }}</div>
                {% endfor %}

                {% for message in form.password.errors %}
                <div>{{ message }}</div>
                {% endfor %}


                <div class="bgcolor-black">   </div>
                <div class="bgcolor-gray">   </div>
                
                <div class="table-selection">
                    <div class="form-username">
                        {{ form.username.label }}
                        {{ form.username(placeholder="Enter your username") }}
                    </div>
                    <div class="form-password">
                        {{ form.password.label }}
                        {{ form.password(placeholder="Enter your password") }}
                    </div>
                    <div class="form-submit">
                        {{ form.submit(class="button") }}
                    </div>
                    <div class="form-forgotpass">
                        <a href="">Forgot password?</a>
                    </div>

                    <div class="g-recaptcha" data-sitekey="6Lfqpo0sAAAAAHYKj72WUHuZDBcCG7iHmLtrXxwt"></div>
                </div>
                
            </form>

        </div>
    </div>
</body>
</html>