<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='stat.css')}}">
<head>
    <title>Registration - Testing Site</title>
</head>
<body style="background-color: black;">

    <form method ="POST">
        {{ form.hidden_tag() }}
        
        {% for message in form.username.errors %}
        <div>{{ message }}</div>
        {% endfor %}

        {% for number in form.password.errors %}
        <div>{{ number }}</div>
        {% endfor %}

        {% for error in form.email.errors %}
        <div>{{ error }}</div>
        {% endfor %}

        <div class="form-blackbox">   </div>
        <div class="form-graybox">   </div>

        <div class="table-selection">

            <div class="form-username">
                {{ form.username(placeholder="Enter your username..") }}
            </div>

            <div class="form-password">
                {{ form.password(placeholder="Enter your password..") }}
            </div>
            <div class="form-email">
                {{ form.email(placeholder ="Enter your Email.") }}
            </div>

            <div class="form-gender">
                <label id="genderlabel">{{ form.gender.label }}</label>
                {{ form.gender(class="gender-options") }}
            </div>
            
            <div class="form-birthday">
                <label>Date of birth:</label>
                {{ form.birth_day()}}
                {{ form.birth_month()}} 
                {{ form.birth_year()}} 
            </div>
            <div class="form-submit">
                {{ form.submit(class="anchor-button") }}
            </div>
        </div>
    </form>
</body>
</html>